/* 
light green: #7ed56f
medium green: #55c57a
darkgreen: #28b485 
*/
/*
why we want to use rem instead of px because we can change all our unit with one setting
*/

*, 
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

html {
  font-size: 63%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding:3rem;
  box-sizing: border-box;

}

.header{
  background-image: linear-gradient(to 
    right bottom,
    #7ed56fea, 
    #55c57a55) , 
    url(../src/static/img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%) 
}

.header__logo-box {
  position: absolute;
  top:  4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__logo:hover {
   animation: moveInRight 1s;
   backface-visibility: hidden;
}


.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.heading-primary {  
  color: #fff;
  text-transform: uppercase;  
  backface-visibility: hidden; /*chong rung lac*/
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInleft;
  animation-duration: 2s;

}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.7rem;
  font-weight: 400;

  animation-name: moveInRight;
  animation-duration: 2s;
  margin-bottom: 4rem;
/* 
  animation-iteration-count: 3;
  animation-delay: 3s; */
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  60% {
    transform: rotate(180deg)
  }

  80% {
    transform: translateX(2rem)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem)
  }

  80% {
    transform: translateX(-2rem)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s; /* apply all state*/
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1rem 2rem rgba(0,0,0,.2)
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2)

}

.btn--white{
  background-color: white;
  color: #777
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  top:0px;
  left:0;
  z-index: -1;
  transition: all .3s;
}

.btn-white::after {
  background-color: white;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animation {
  animation: moveInButton 0.5 ease-out .75s;
  animation-fill-mode: backwards; /*set beginning property at keyframe*/

}

@keyframes moveInButton {
  0% {
    transform: translateY(3rem);
  }

  100%{
    transform: translateY(0px)
  }
}
   